@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-colour: #efd0a4;
    --accent-colour: #86198f;
    --text-accent-colour: #469ae9;
    --link-colour: #0000aa;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: rgba(239, 208, 164, 0.53);
}

body {
    background-color: var(--background-colour);
}

.background-colour {
    background-color: var(--background-colour);
}

.box-shadow-black {
    box-shadow: 0.125rem 0.125rem 0 0 #000;
}

.text-shadow-black {
    text-shadow: 0.125rem 0.125rem 0 #000;
}

.text-shadow-fuchsia {
    text-shadow: 0.125rem 0.125rem 0 var(--accent-colour);
}

.text-white-outline {
    text-shadow: 0.4px 0.4px 0 #fff, -0.4px -0.4px 0 #fff, 0.4px -0.4px 0 #fff, -0.4px 0.4px 0 #fff;
}


.text-accent {
    color: var(--accent-colour);
}

.remove-tap-highlight {
    -webkit-tap-highlight-color: transparent;
}